/* .mainDiv{
  display: inline;
} */
/* .bannerDiv {
  justify-content: center;
} */
/* .img_pc_main_logo {
  width: 320px;
  height: 114.5px;
  object-fit: contain;
}
.bg_pc_main_landing_01 {
    width: 100%;
    height: 688px;
    padding: 130px 87px 75px 210px;
    object-fit: contain;
  }
 .img_pc_main_landing_01 {
    width: 40.7%;
    height: 5.7%;
    margin: 95px 0 0 69px;
    object-fit: contain;
    margin: 3.3% 1.1% 54.7% 4.5%;
  }
  .Rectangle-2 {
    width: 1920px;
    height: 389px;
    transform: rotate(180deg);
    background-color: #505050;
    justify-content: center;
  }
  .Rectangle-4 {
    width: 1246px;
    height: 150px;
    padding: 35px 70px 34px;
    border-radius: 20px;
    background-color: #ececec;
  }
  .-e-- {
    width: 431.1px;
    height: 54.8px;
    font-family: NotoSansCJKKR;
    font-size: 36.7px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .Rectangle-10 {
    width: 561px;
    height: 24px;
    background-color: #0aad80;
  } */