.Loginpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.login_container{
    border : 1px solid rgb(220, 222, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 446px;
    height: 232px;
}

.register_nav{
    width: 446px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}